/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.shadow-sm {
    margin: 10px;
}
.Add_Friend_Btn{
    margin:7px;
}
.cont_SerchFriend {
    margin: 7px;
}


@media screen and (max-width: 577px) {
    .shadow-sm {
        justify-content: center;
        width: 100%;
        max-width: 90%;
        background-color:  !important;       
    }
    .cont_Perfil {
    }
    .contTextComment p {
        overflow: visible;
        Word-wrap: break-Word ;width: 200px;
    }
    .Add_Friend_Btn {
        display: flex;
        margin: auto;
    }

    .alert {
        margin:5px;
    }
}


@media screen and (max-width: 700px ) and (min-width:450px) {

    .shadow-sm {
        justify-content: center;
        max-width: 70%;
        margin: 10px;
    }
}
@media screen and (max-width: 800px ) and (min-width:450px) {

    .shadow-sm {
        justify-content: center;
        max-width: 60%;
        margin: 10px;
    }
}




@media screen and (min-width: 780px) {
    .shadow-sm {
        justify-content: center;
        width:100%;
        max-width: 50%;
        margin: 10px;
    }
    .img_publicationHome {
        width: 300px;
        height: 300px;
        align-content: center;
    }
    
    
}

@media screen and (min-width: 570px) {
    
    .cont_SerchFriend {
        position:absolute;
        margin-left:60%;
    }
}


.img_publicationHome {
    margin-bottom: 10px;
}
.contCard {
    text-align: center;
}


.row{
    justify-content:center;
}
.cont_BtbCreate {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contImgPerfil {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.img_profile {
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contNamePerfil > h3 {
    font-size: 17px;
}


.contNamePerfil{
    position:absolute;
    margin-top:2px;
    margin-left:60px;
}
/*gdffgfffffffffffffffffffffffffffffffffffffff*/



.cont_Comment {
    display: flex;
    text-wrap:avoid;
    margin-left:20px;
}
.contImgComment {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.img_ComentUsers {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contTextComment {
    width:300px;
    font-size: 16px;
    margin-left: 9px;
    
}
    .contTextComment p {
        overflow: visible;
        Word-wrap: break-Word
    }

.card-title {
    text-align:center;
}
.p_DatePublication{
    font-style:italic;
    margin-top:-10px;
}
.cont_List_Friend_Title{


